body {
    display: flex;
    justify-content: center;
    padding: 30px;
}

* {
    user-select: none;
}

#container, #buttons {
    width: 400px;
    display: flex;
    flex-direction: column;
}

#container {
    padding: 30px;
    background-color: lightgray;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 2px 4px 4px black;
}

#display-container {
    height: 80px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 24px;
    background-color: palegreen;
    border-radius: 10px 10px 0 0;
}

#history {
    height: 30px;
    font-size: 32px;
    flex: 1 1 0;
}

#display {
    font-size: 48px;
}

#history, #display {
    font-family: VT323;
}

.row, .clear {
    display: flex;
    height: 60px;
}

.button {
    flex: 1 1 0;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    box-sizing: border-box;
    background-color: antiquewhite;
}

.zero, .clear {
    flex: 0 0 auto;
    width: 200px;
    box-sizing: border-box;
}

.clear {
    border-radius: 0 0 0 10px;
}

#equals {
    border-radius: 0 0 10px 0;
}